html,
body {
  background-image: url('../../public/tw-wall2.png');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
